body {
  font-family: "Noto Sans", "Noto Serif TC", serif;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

caption {
  color: $white;
}

a {
  // color: $white !important;
  text-decoration: none;
  &:hover{
    color: $white;
  }
}
