$neon-text-color: #f40;
$neon-border-color: #08f;

.ms-m3 {
  margin-left: -12px;
}
.me-m3 {
  margin-right: -12px;
}
.mb-64 {
  margin-bottom: 64px;
}
.opacity-90 {
  opacity: 0.9;
}
.lh-40 {
  line-height: 80px !important;
}
.w-fit {
  width: fit-content;
}
.w-40 {
  max-width: 40px;
}

.w-558 {
  max-width: 558px;
}
.w-644 {
  max-width: 644px;
}

.h-162 {
  max-height: 162px;
}
.h-164 {
  height: 164px !important;
}
.h-500 {
  max-height: 500px;
}
.row {
  margin: 0;
}
.r-30 {
  // width:150px;height:30px;
  transform: rotate(10deg);
}
.text-neon {
  font-style: italic;
  color: $white;
  padding: 1.5rem 3rem 2rem;
  border: 0.2rem solid $white;
  border-radius: 1rem;
  width: fit-content;
  // animation: flicker 1.5s infinite alternate;
  text-shadow: -0.1rem -0.1rem 0.5rem #fff, 0.1rem 0.1rem 0.5rem #fff, 0 0 1rem $neon-text-color, 0 0 2rem $neon-text-color, 0 0 3rem $neon-text-color, 0 0 4rem $neon-text-color, 0 0 5rem $neon-text-color !important;
  box-shadow: 0 0 0.25rem #fff, 0 0 0.25rem #fff inset, 0 0 1rem $neon-border-color, 0 0 1rem $neon-border-color inset, 0 0 2rem $neon-border-color, 0 0 2rem $neon-border-color inset !important;
}
.bg-img {
  background-image: url("https://github.com/ariel7234/BarMap/blob/main/app/assets/images/background.png?raw=true");
  background-size: cover;
}
.bg-darkImg {
  background-image: url("https://github.com/ariel7234/BarMap/blob/main/app/assets/images/bg.jpg?raw=true");
  background-size: cover;
}
.bg-icon {
  // background-color: $base;
  // background-blend-mode: multiply;
  background-image: url("https://github.com/ariel7234/BarMap/blob/main/app/assets/images/bg.jpg?raw=true");
  // background-repeat: repeat;
  // background-size: 10%;
  background-size: cover;
}
.bg-outline-primary {
  background: transparent;
  border: 1px solid $primary;
  color: $primary;
}
.bg-highlight {
  color: $base;
  max-width: fit-content;
  border-radius: 0px;
}
.img-square {
  width: 80px;
  height: 80px;
  overflow: hidden;
  object-fit: cover;
}
.img-center {
  object-position: 50% 70%;
}
.img-fit {
  object-fit: cover;
  overflow: hidden;
}
.border-transparent {
  border-color: rgba($border-color, 0.3) !important;
}

.link-decoration {
  &:hover {
    text-decoration: underline;
  }
}

// ==================== RWD ====================
@include media-breakpoint-up(xs) {
  // font size
  .fs-sm-6 {
    font-size: 12px;
  }
  .fs-sm-7 {
    font-size: 8px;
  }
  .text-neon {
    padding: 1rem 1.5rem 1rem;
    border: 0.1rem solid $white;
    border-radius: 0.5rem;
    text-shadow: -0.05rem -0.05rem 0.25rem #fff, 0.05rem 0.05rem 0.25rem #fff, 0 0 0.5rem $neon-text-color, 0 0 1rem $neon-text-color, 0 0 1.5rem $neon-text-color, 0 0 2rem $neon-text-color, 0 0 2.5rem $neon-text-color !important;
    box-shadow: 0 0 0.125rem #fff, 0 0 0.125rem #fff inset, 0 0 0.5rem $neon-border-color, 0 0 0.5rem $neon-border-color inset, 0 0 1rem $neon-border-color, 0 0 1rem $neon-border-color inset !important;
  }

  // position
  .top-0 {
    top: 0px;
  }
  .top-8 {
    top: 8px;
  }
  .end-0 {
    right: 0px;
  }
  .end-8 {
    right: 8px;
  }

  //width
  .w-30 {
    width: 30%;
  }
  .w-60 {
    width: 60px !important;
  }
  .h-60 {
    height: 60px !important;
  }
  .w-100 {
    width: 100% !important;
  }

  .d-none{
    display: none;
  }
}

@include media-breakpoint-up(md) {
  //font size
  .fs-md-5 {
    font-size: 16px;
  }
  .fs-md-6 {
    font-size: 12px;
  }
  .text-neon {
    padding: 1.5rem 3rem 1.5rem;
    border: 0.2rem solid $white;
    border-radius: 1rem;
    text-shadow: -0.1rem -0.1rem 0.5rem #fff, 0.1rem 0.1rem 0.5rem #fff, 0 0 1rem $neon-text-color, 0 0 2rem $neon-text-color, 0 0 3rem $neon-text-color, 0 0 4rem $neon-text-color, 0 0 5rem $neon-text-color !important;
    box-shadow: 0 0 0.25rem #fff, 0 0 0.25rem #fff inset, 0 0 1rem $neon-border-color, 0 0 1rem $neon-border-color inset, 0 0 2rem $neon-border-color, 0 0 2rem $neon-border-color inset !important;
  }

  // position
  .top-md-16 {
    top: 16px;
  }
  .end-md-16 {
    right: 16px;
  }

  //width
  .w-md-30 {
    width: 30% !important;
  }
  .w-md-110 {
    width: 110px !important;
  }
  .h-md-110 {
    height: 110px !important;
  }
  .w-md-130 {
    width: 130px !important;
  }
  .h-md-130 {
    height: 130px !important;
  }
  .d-md-block{
    display: block;
  }
}

// =========== Animation ===========

@keyframes flicker {
  0% {
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 2rem var($neon-text-color), 0 0 4rem var($neon-text-color), 0 0 6rem var($neon-text-color), 0 0 8rem var($neon-text-color), 0 0 10rem var($neon-text-color) !important;
    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem var($neon-border-color), inset 0 0 2rem var($neon-border-color), 0 0 4rem var($neon-border-color), inset 0 0 4rem var($neon-border-color) !important;
  }
  19% {
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 2rem var($neon-text-color), 0 0 4rem var($neon-text-color), 0 0 6rem var($neon-text-color), 0 0 8rem var($neon-text-color), 0 0 10rem var($neon-text-color) !important;
    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem var($neon-border-color), inset 0 0 2rem var($neon-border-color), 0 0 4rem var($neon-border-color), inset 0 0 4rem var($neon-border-color) !important;
  }
  21% {
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 2rem var($neon-text-color), 0 0 4rem var($neon-text-color), 0 0 6rem var($neon-text-color), 0 0 8rem var($neon-text-color), 0 0 10rem var($neon-text-color) !important;
    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem var($neon-border-color), inset 0 0 2rem var($neon-border-color), 0 0 4rem var($neon-border-color), inset 0 0 4rem var($neon-border-color) !important;
  }
  23% {
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 2rem var($neon-text-color), 0 0 4rem var($neon-text-color), 0 0 6rem var($neon-text-color), 0 0 8rem var($neon-text-color), 0 0 10rem var($neon-text-color) !important;
    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem var($neon-border-color), inset 0 0 2rem var($neon-border-color), 0 0 4rem var($neon-border-color), inset 0 0 4rem var($neon-border-color) !important;
  }
  25% {
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 2rem var($neon-text-color), 0 0 4rem var($neon-text-color), 0 0 6rem var($neon-text-color), 0 0 8rem var($neon-text-color), 0 0 10rem var($neon-text-color) !important;
    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem var($neon-border-color), inset 0 0 2rem var($neon-border-color), 0 0 4rem var($neon-border-color), inset 0 0 4rem var($neon-border-color) !important;
  }
  54% {
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 2rem var($neon-text-color), 0 0 4rem var($neon-text-color), 0 0 6rem var($neon-text-color), 0 0 8rem var($neon-text-color), 0 0 10rem var($neon-text-color) !important;
    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem var($neon-border-color), inset 0 0 2rem var($neon-border-color), 0 0 4rem var($neon-border-color), inset 0 0 4rem var($neon-border-color) !important;
  }
  56% {
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 2rem var($neon-text-color), 0 0 4rem var($neon-text-color), 0 0 6rem var($neon-text-color), 0 0 8rem var($neon-text-color), 0 0 10rem var($neon-text-color) !important;
    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem var($neon-border-color), inset 0 0 2rem var($neon-border-color), 0 0 4rem var($neon-border-color), inset 0 0 4rem var($neon-border-color) !important;
  }
  100% {
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 2rem var($neon-text-color), 0 0 4rem var($neon-text-color), 0 0 6rem var($neon-text-color), 0 0 8rem var($neon-text-color), 0 0 10rem var($neon-text-color) !important;
    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem var($neon-border-color), inset 0 0 2rem var($neon-border-color), 0 0 4rem var($neon-border-color), inset 0 0 4rem var($neon-border-color) !important;
  }

  20% {
    text-shadow: none;
    box-shadow: none;
  }
  24% {
    text-shadow: none;
    box-shadow: none;
  }
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}
