.mb-64 {
  margin-bottom: 64px;
}
.opacity-90 {
  opacity: 0.9;
}
.lh-40 {
  line-height: 80px !important;
}

.w-558 {
  max-width: 558px;
}
.w-644 {
  max-width: 644px;
}
.h-162 {
  max-height: 162px;
}
.row {
  margin: 0;
}

.bg-img {
  background-image: url("https://github.com/ariel7234/BarMap/blob/main/app/assets/images/background.png?raw=true");
  background-size: cover;
}

.bg-outline-primary {
  background: transparent;
  border: 1px solid $primary;
  color: $primary;
}
.bg-highlight {
  color: $base;
  max-width: fit-content;
  border-radius: 0px;
}

// ==================== RWD ====================
@include media-breakpoint-up(xs) {
  // font size
  .fs-sm-6 {
    font-size: 12px;
  }
  .fs-sm-7{
    font-size: 8px;
  }
  // position
  .top-8 {
    top: 8px;
  }
  .end-8 {
    right: 8px;
  }
}

@include media-breakpoint-up(md) {
  //font size
  .fs-md-5{
    font-size: 16px;
  }
  .fs-md-6{
    font-size: 12px;
  }
  // position
  .top-md-16 {
    top: 16px;
  }
  .end-md-16 {
    right: 16px;
  }
}
